<a href="https://colab.research.google.com/github/TaysonMartinss/AnaliseExploratoria/blob/main/Analise_Exploratoria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìäIMPORTA√á√ÉO DOS DADOS

‚öôÔ∏èimport das bibliotecas

In [185]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

üÜô carregando dataset

In [132]:
data = '/content/survey_results_public.csv'
dataframe = pd.read_csv(data)

üïµÔ∏è explorando o dataset

In [133]:
dataframe.head()
dataframe.tail()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
65432,65433,I am a developer by profession,18-24 years old,"Employed, full-time",Remote,Apples,Hobby;School or academic work,"Bachelor‚Äôs degree (B.A., B.S., B.Eng., etc.)","On the job training;School (i.e., University, ...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65433,65434,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65434,65435,I am a developer by profession,25-34 years old,"Employed, full-time",In-person,Apples,Hobby,"Bachelor‚Äôs degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Social ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65435,65436,I am a developer by profession,18-24 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby;Contribute to open-source projects;Profe...,"Secondary school (e.g. American high school, G...",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
65436,65437,I code primarily as a hobby,18-24 years old,"Student, full-time",NaN,Apples,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# ü§îANALISANDO O SCHEMA

**colunas relevantes:**

![image.png]()

In [134]:
print(dataframe.isnull().sum())

ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10631
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
Length: 114, dtype: int64

# ‚öôÔ∏èSETUP DOS DADOS

**atribuindo colunas que irei usar nas variaveis**

In [135]:
profissao_df = dataframe['MainBranch']
idade_df = dataframe['Age']
ocupacao_df = dataframe['Employment']
anos_trabalhados_df = dataframe['YearsCodePro']
tamanho_empresa_df = dataframe['OrgSize']
pais_df = dataframe['Country']
usa_IA_df = dataframe['AISelect']
ia_opniao_df = dataframe['AISent']
ia_beneficios_df = dataframe['AIBen']
ia_desafios_df = dataframe ['AIChallenges']

**verificando Null's e NAN nas vari√°veis**

In [136]:
profissao_df.isnull().sum()

0

In [137]:
idade_df.isnull().sum()

0

In [161]:
ocupacao_df.isnull().sum()

0

In [160]:
anos_trabalhados_df.isnull().sum()

0

In [162]:
tamanho_empresa_df.isnull().sum()

0

In [163]:
pais_df.isnull().sum()

0

In [167]:
usa_IA_df.isnull().sum()

0

In [171]:
ia_opniao_df.isnull().sum()

0

In [144]:
ia_beneficios_df.isnull().sum()

28543

In [145]:
ia_desafios_df.isnull().sum()

27906

üßÆüìä TRATAMENTO DE DADOS

**AGRUPANDO OS PERFIS DOS CANDIDATOS | TRADU√á√ÉO DAS INFORMA√á√ïES | SIMPLIFICA√á√ÉO DE M√∫LTIPLAS-ESCOLHAS**

In [146]:
#profissao n√£o tem dados null's na coluna
profissao_df = profissao_df.replace({
    'I am a developer by profession': 'Dev Profissional',
    'I am learning to code': 'Estudante de Programa√ß√£o',
    'I code primarily as a hobby': 'Entusiasta',
    'I am not primarily a developer, but I write code sometimes as part of my work/studies': 'Estagiarios',
    'I used to be a developer by profession, but no longer am': 'Dev Profissional'
})

In [147]:
profissao_df.unique()

array(['Dev Profissional', 'Estudante de Programa√ß√£o', 'Entusiasta',
       'Estagiarios'], dtype=object)

In [148]:
idade_df = idade_df.replace({
'Under 18 years old': 'Menor de 18 anos',
'35-44 years old': 'entre 35-44 anos de idade',
'45-54 years old': 'entre 45-54 anos de idade',
'18-24 years old': 'entre 18-24 anos de idade',
'25-34 years old': 'entre 25-34 anos de idade',
'55-64 years old': 'entre 55-64 anos de idade',
'Prefer not to say': 'Preferir n√£o dizer',
'65 years or older': '65 anos ou mais'
 })

In [149]:
idade_df.unique()

array(['Menor de 18 anos', 'entre 35-44 anos de idade',
       'entre 45-54 anos de idade', 'entre 18-24 anos de idade',
       'entre 25-34 anos de idade', 'entre 55-64 anos de idade',
       'Preferir n√£o dizer', '65 anos ou mais'], dtype=object)

In [150]:
def agrupar_emprego(emprego):
  if 'Student' in emprego:
    return 'Estudante'
  elif 'Employed full-time' in emprego:
    return 'Trabalhando'
  elif 'Retired' in emprego:
    return 'Aposentado'
  elif 'Independent contractor, freelancer, or self-employed' in emprego:
    return 'Aut√¥nomo'
  else:
    return 'Outro'


ocupacao_df = ocupacao_df.apply(agrupar_emprego)

In [151]:
ocupacao_df.unique()

array(['Outro', 'Estudante', 'Aut√¥nomo', 'Aposentado'], dtype=object)

In [152]:
anos_trabalhados_df = anos_trabalhados_df.fillna("n√£o respondeu")
anos_trabalhados_df.unique()

array(['n√£o respondeu', '17', '27', '7', '11', '25', '12', '10', '3',
       'Less than 1 year', '18', '37', '15', '20', '6', '2', '16', '8',
       '14', '4', '45', '1', '24', '29', '5', '30', '26', '9', '33', '13',
       '35', '23', '22', '31', '19', '21', '28', '34', '32', '40', '50',
       '39', '44', '42', '41', '36', '38', 'More than 50 years', '43',
       '47', '48', '46', '49'], dtype=object)

In [153]:
anos_trabalhados_df = anos_trabalhados_df.replace({
    'Less than 1 year': 'Menos de 1 ano',
    'More than 50 years': 'Mais de 50 anos',
})

In [154]:
anos_trabalhados_df.unique()

array(['n√£o respondeu', '17', '27', '7', '11', '25', '12', '10', '3',
       'Menos de 1 ano', '18', '37', '15', '20', '6', '2', '16', '8',
       '14', '4', '45', '1', '24', '29', '5', '30', '26', '9', '33', '13',
       '35', '23', '22', '31', '19', '21', '28', '34', '32', '40', '50',
       '39', '44', '42', '41', '36', '38', 'Mais de 50 anos', '43', '47',
       '48', '46', '49'], dtype=object)

In [155]:
tamanho_empresa_df.unique()

array([nan, '100 to 499 employees', '2 to 9 employees',
       'Just me - I am a freelancer, sole proprietor, etc.',
       '10 to 19 employees', '20 to 99 employees',
       '5,000 to 9,999 employees', '1,000 to 4,999 employees',
       'I don‚Äôt know', '10,000 or more employees', '500 to 999 employees'],
      dtype=object)

In [156]:
def agrupar_tamanho_empresa(tamanho):
  if tamanho is None or tamanho == "I don't know":
    return 'N√£o respondeu'
  elif 'Just me - I am a freelancer, sole proprietor, etc.' in tamanho:
    return 'Apenas eu (aut√¥nomo)'
  elif '2 to 9 employees' in tamanho:
    return 'Pequena (2-9 funcion√°rios)'
  elif '10 to 19 employees' in tamanho:
    return 'Pequena (10-19 funcion√°rios)'
  elif '20 to 99 employees' in tamanho:
    return 'M√©dia (20-99 funcion√°rios)'
  elif '100 to 499 employees' in tamanho:
    return 'M√©dia (100-499 funcion√°rios)'
  elif '500 to 999 employees' in tamanho:
    return 'Grande (500-999 funcion√°rios)'
  elif '1,000 to 4,999 employees' in tamanho:
    return 'Grande (1000-4999 funcion√°rios)'
  elif '5,000 to 9,999 employees' in tamanho:
    return 'Muito Grande (5000-9999 funcion√°rios)'
  elif '10,000 or more employees' in tamanho:
    return 'Muito Grande (10000+ funcion√°rios)'
  else:
    return 'Outro'

# Convert any float values to strings before applying the function.
tamanho_empresa_df = tamanho_empresa_df.astype(str).apply(agrupar_tamanho_empresa)
tamanho_empresa_df.unique()

array(['Outro', 'M√©dia (100-499 funcion√°rios)',
       'Pequena (2-9 funcion√°rios)', 'Apenas eu (aut√¥nomo)',
       'Pequena (10-19 funcion√°rios)', 'M√©dia (20-99 funcion√°rios)',
       'Muito Grande (5000-9999 funcion√°rios)',
       'Grande (1000-4999 funcion√°rios)',
       'Muito Grande (10000+ funcion√°rios)',
       'Grande (500-999 funcion√°rios)'], dtype=object)

In [157]:
pais_df = pais_df.fillna("N√£o respondeu")

In [158]:
pais_df.unique()

array(['United States of America',
       'United Kingdom of Great Britain and Northern Ireland', 'Canada',
       'Norway', 'Uzbekistan', 'Serbia', 'Poland', 'Philippines',
       'Bulgaria', 'Switzerland', 'India', 'Germany', 'Ireland', 'Italy',
       'Ukraine', 'Australia', 'Brazil', 'Japan', 'Austria',
       'Iran, Islamic Republic of...', 'France', 'Saudi Arabia',
       'Romania', 'Turkey', 'Nepal', 'Algeria', 'Sweden', 'Netherlands',
       'Croatia', 'Pakistan', 'Czech Republic',
       'Republic of North Macedonia', 'Finland', 'Slovakia',
       'Russian Federation', 'Greece', 'Israel', 'Belgium', 'Mexico',
       'United Republic of Tanzania', 'Hungary', 'Argentina', 'Portugal',
       'Sri Lanka', 'Latvia', 'China', 'Singapore', 'Lebanon', 'Spain',
       'South Africa', 'Lithuania', 'Viet Nam', 'Dominican Republic',
       'Indonesia', 'Kosovo', 'Morocco', 'Taiwan', 'Georgia',
       'San Marino', 'Tunisia', 'Bangladesh', 'Nigeria', 'Liechtenstein',
       'Denmark', 'Ecuador', 'Malaysia', 'Albania', 'Azerbaijan', 'Chile',
       'Ghana', 'Peru', 'Bolivia', 'Egypt', 'Luxembourg', 'Montenegro',
       'Cyprus', 'Paraguay', 'Kazakhstan', 'Slovenia', 'Jordan',
       'Venezuela, Bolivarian Republic of...', 'Costa Rica', 'Jamaica',
       'Thailand', 'Nicaragua', 'Myanmar', 'Republic of Korea', 'Rwanda',
       'Bosnia and Herzegovina', 'Benin', 'El Salvador', 'Zimbabwe',
       'Afghanistan', 'Estonia', 'Malta', 'Uruguay', 'Belarus',
       'Colombia', 'Republic of Moldova', 'Isle of Man', 'Nomadic',
       'New Zealand', 'Palestine', 'Armenia', 'United Arab Emirates',
       'Maldives', 'Ethiopia', 'Fiji', 'Guatemala', 'Uganda',
       'Turkmenistan', 'Mauritius', 'Kenya', 'Cuba', 'Gabon', 'Bahamas',
       'South Korea', 'Iceland', 'Honduras', 'Hong Kong (S.A.R.)',
       "Lao People's Democratic Republic", 'Mongolia', 'Cambodia',
       'Madagascar', 'Angola', 'Democratic Republic of the Congo',
       'Syrian Arab Republic', 'Iraq', 'Namibia', 'Senegal', 'Kyrgyzstan',
       'Zambia', 'Swaziland', "C√¥te d'Ivoire", 'Kuwait', 'Tajikistan',
       'Burundi', 'Trinidad and Tobago', 'Mauritania', 'Sierra Leone',
       'Panama', 'Somalia', 'North Korea', 'Dominica', 'Guyana', 'Togo',
       'Oman', 'Barbados', 'Andorra',
       "Democratic People's Republic of Korea", 'Qatar', 'Sudan',
       'Cameroon', 'Papua New Guinea', 'Bahrain', 'Yemen', 'Malawi',
       'Burkina Faso', 'Congo, Republic of the...', 'Botswana',
       'Guinea-Bissau', 'Mozambique', 'Central African Republic',
       'Equatorial Guinea', 'Suriname', 'Belize',
       'Libyan Arab Jamahiriya', 'Cape Verde', 'Brunei Darussalam',
       'Bhutan', 'Guinea', 'Niger', 'Antigua and Barbuda', 'Mali',
       'Samoa', 'Lesotho', 'Saint Kitts and Nevis', 'Monaco',
       'Micronesia, Federated States of...', 'Haiti', 'N√£o respondeu',
       'Nauru', 'Liberia', 'Chad', 'Djibouti', 'Solomon Islands'],
      dtype=object)

In [166]:
usa_IA_df.unique()

array(['Usa', 'N√£o usa'], dtype=object)

In [164]:
def tratar_usa_ia(resposta):
  if resposta is None or resposta == "nan" or resposta == "I don't use them":
    return 'N√£o usa'
  elif resposta == 'I have never heard of them':
    return 'N√£o conhece'
  else:
    return 'Usa'

usa_IA_df = usa_IA_df.astype(str).apply(tratar_usa_ia)

usa_IA_df.unique()

array(['Usa', 'N√£o usa'], dtype=object)

In [170]:
def tratar_ia_opiniao(resposta):
  if resposta is None or resposta == "nan":
    return 'N√£o respondeu'
  elif 'No opinion; I\'m neutral' in resposta:
    return 'Neutro'
  elif 'Favorable' in resposta:
    return 'Favor√°vel'
  elif 'Unfavorable' in resposta:
    return 'Desfavor√°vel'
  else:
    return 'Outro'

ia_opniao_df = ia_opniao_df.astype(str).apply(tratar_ia_opiniao)
ia_opniao_df.unique()

array(['Outro', 'N√£o respondeu', 'Favor√°vel', 'Desfavor√°vel'],
      dtype=object)

# ü§ñ CONCLUS√ÉO DOS INSIGHTS APRESENTADOS:

**Qual a porcentagem de desenvolvedores que usam IA em cada faixa et√°ria?**

In [189]:
idade_usa_ia = round((pd.crosstab(idade_df, usa_IA_df, normalize='index') * 100),2)
print("Porcentagem de desenvolvedores que usam IA em cada faixa et√°ria:")
print(idade_usa_ia)

Porcentagem de desenvolvedores que usam IA em cada faixa et√°ria:
AISelect                   N√£o usa    Usa
Age
65 anos ou mais               3.63  96.37
Menor de 18 anos              7.87  92.13
Preferir n√£o dizer           13.98  86.02
entre 18-24 anos de idade     9.57  90.43
entre 25-34 anos de idade     7.32  92.68
entre 35-44 anos de idade     5.47  94.53
entre 45-54 anos de idade     3.95  96.05
entre 55-64 anos de idade     3.50  96.50

**Quais s√£o as profiss√µes que mais utilizam IA?**

In [195]:
profissao_usa_ia = round((pd.crosstab(profissao_df, usa_IA_df, normalize='index') * 100),2)
print("\nPorcentagem de desenvolvedores que usam IA em cada profiss√£o:")
print(profissao_usa_ia)

Porcentagem de desenvolvedores que usam IA em cada profiss√£o:
AISelect                  N√£o usa    Usa
MainBranch
Dev Profissional             6.67  93.33
Entusiasta                   6.48  93.52
Estagiarios                  6.70  93.30
Estudante de Programa√ß√£o    11.12  88.88%

**Qual a opini√£o predominante sobre a IA entre os desenvolvedores?**

In [196]:
opiniao_ia_contagem = ia_opniao_df.value_counts()
print("\nOpini√£o predominante sobre a IA:")
print(opiniao_ia_contagem)

Opini√£o predominante sobre a IA:
AISent
Favor√°vel        22167
Outro            21325
N√£o respondeu    19564
Desfavor√°vel      2381
Name: count, dtype: int64

**Existe alguma correla√ß√£o entre o tamanho da empresa e a ado√ß√£o de ferramentas de IA?**

In [197]:
tamanho_empresa_usa_ia = round((pd.crosstab(tamanho_empresa_df, usa_IA_df, normalize='index') * 100),2)
print("\nCorrela√ß√£o entre tamanho da empresa e ado√ß√£o de ferramentas de IA:")
print(tamanho_empresa_usa_ia)

Correla√ß√£o entre tamanho da empresa e ado√ß√£o de ferramentas de IA:
AISelect                               N√£o usa    Usa
OrgSize
Apenas eu (aut√¥nomo)                      2.01  97.99
Grande (1000-4999 funcion√°rios)           2.22  97.78
Grande (500-999 funcion√°rios)             1.89  98.11
Muito Grande (10000+ funcion√°rios)        2.45  97.55
Muito Grande (5000-9999 funcion√°rios)     2.14  97.86
M√©dia (100-499 funcion√°rios)              2.39  97.61
M√©dia (20-99 funcion√°rios)                2.47  97.53
Outro                                    18.09  81.91
Pequena (10-19 funcion√°rios)              2.55  97.45
Pequena (2-9 funcion√°rios)                2.44  97.56

**H√° diferen√ßas significativas entre as opini√µes sobre a IA de acordo com a profiss√£o ou idade?**

In [198]:
opiniao_ia_profissao = round((pd.crosstab(profissao_df, ia_opniao_df, normalize='index') * 100),2)
opiniao_ia_idade = round((pd.crosstab(idade_df, ia_opniao_df, normalize='index') * 100),2)

print("\nDiferen√ßas nas opini√µes sobre a IA por profiss√£o:")
print(opiniao_ia_profissao)

print("\nDiferen√ßas nas opini√µes sobre a IA por idade:")
print(opiniao_ia_idade)

Diferen√ßas nas opini√µes sobre a IA por profiss√£o:
AISent                    Desfavor√°vel  Favor√°vel  N√£o respondeu  Outro
MainBranch
Dev Profissional                  3.71      34.24          29.04  33.01
Entusiasta                        3.93      28.31          42.29  25.46
Estagiarios                       3.19      32.42          32.24  32.15
Estudante de Programa√ß√£o          3.20      36.26          26.68  33.86

Diferen√ßas nas opini√µes sobre a IA por idade:
AISent                     Desfavor√°vel  Favor√°vel  N√£o respondeu  Outro
Age
65 anos ou mais                    2.72      20.73          49.35  27.20
Menor de 18 anos                   4.60      32.71          35.36  27.34
Preferir n√£o dizer                 2.48      16.77          50.62  30.12
entre 18-24 anos de idade          3.66      36.51          28.93  30.91
entre 25-34 anos de idade          3.58      35.51          27.53  33.39
entre 35-44 anos de idade          3.87      32.01          30.15  33.96
entre 45-54 anos de idade          3.14      31.78          30.98  34.10
entre 55-64 anos de idade          3.38      27.46          39.26  29.90

# Insights para a V8.Tech

**1. Forte Apelo da IA:**

A alta ado√ß√£o de ferramentas de IA indica que as pessoas provavelmente j√° est√£o familiarizados com a tecnologia e estar√£o receptivos a novas solu√ß√µes.

A opini√£o predominantemente favor√°vel sobre a IA sugere que a empresa pode esperar um feedback positivo ao implementar novas ferramentas.

**2. Considera√ß√µes sobre o Perfil dos Colaboradores:**

N√£o h√° grandes discrep√¢ncias entre as diferentes faixas et√°rias e nem as areas de atua√ß√£o em rela√ß√£o √† ado√ß√£o e opini√£o sobre a IA. Isso significa que a empresa pode implementar uma solu√ß√£o √∫nica para todos os colaboradores, sem a necessidade de solu√ß√µes personalizadas.

**3. Impacto do Tamanho da Empresa:**

A maior ado√ß√£o em empresas maiores pode indicar que a V8.Tech, se for uma empresa de grande porte, j√° possui uma cultura mais prop√≠cia √† inova√ß√£o e √† ado√ß√£o de novas tecnologias.


# Recomenda√ß√µes para a V8.Tech

Priorizar ferramentas com interface intuitiva e f√°cil de usar: Isso facilitar√° a ado√ß√£o por todos os colaboradores, independentemente do n√≠vel de experi√™ncia t√©cnica.
Escolher ferramentas com foco em produtividade e efici√™ncia: Aumentar a produtividade √© um dos principais motivadores para a ado√ß√£o de ferramentas de IA.

Considerar ferramentas que se integrem com as ferramentas j√° utilizadas pela empresa: Isso minimizar√° a necessidade de mudan√ßas dr√°sticas nos processos de trabalho.

Implementar um programa de treinamento e suporte: Oferecer treinamento e suporte cont√≠nuos aos colaboradores √© essencial para garantir o sucesso da implementa√ß√£o.

Monitorar o impacto das novas ferramentas: Acompanhar o desempenho e o feedback dos colaboradores permitir√° ajustar a estrat√©gia e otimizar o uso das ferramentas.